@charset 'utf-8';

@import 'compass';

html {
  height: 100%;
  min-height: 100%;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout:none;
}

body {
  min-height: 100%;
  font: {
    family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'Meiryo', 'Osaka', 'MS Pゴシック', 'MS PGothic', sans-serif;
  }
  font-size: 1.0rem;
  background-color: #3187b9;
}

*,
*:before,
*:after {
  @include box-sizing('border-box');
}

.clearfix {
  @include clearfix;
}

.container {
  height: 100%;
  width: 320px;
  margin: 0 auto;
  padding: 20px 0;
}

.header {
  width: 300px;
  height: 192px;
  margin: 0 auto;
  background-image: url('/images/bg_kaeru_face.png');
  background-size: 300px 384px;
}

.header.on {
  background-position-y: -192px;
}

.btn-area {
  width: 276px;
  margin: 13px auto 0;
  list-style: none;
  padding: 0;
}

.btn-area > li {
  width: 50%;
  float: left;
  margin: 0 0 17px;
  text-align: center;
}

.btn-area .btn {
  width: 99px;
  height: 121px;
  margin: 0 auto;
  padding: 0;
  background: none;
  border: none;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: 99px 242px;
  outline: none;
}

.btn-area .btn.nikoniko {
  background-image: url('/images/bg_nikoniko.png');
}

.btn-area .btn.punpun {
  background-image: url('/images/bg_punpun.png');
}

.btn-area .btn.shikushiku {
  background-image: url('/images/bg_shikushiku.png');
}

.btn-area .btn.runrun {
  background-image: url('/images/bg_runrun.png');
}

.btn-area .btn.on {
  background-position-y: -121px;
}
